// Ref: https://github.com/nuxt-community/vuetify-module#customvariables

// ---------- globals ---------------------------------------------------------
$body-font-family: 'Hind';
$heading-font-family: 'Hind';
$font-size-root: 20px;

// Required for modifying core defaults
@import '~vuetify/src/styles/styles.sass';
